{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="background-image: url('https://i.pinimg.com/236x/7c/86/70/7c867005d38031ce2dda1973fe4163bf.jpg'); background-repeat: no-repeat; background-size: 100% 100% "  >


        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login'%}"> Sign in </a>
            </small>
        </div>
     </div>
{% endblock content %}
